/*Adrian Koornneef*/
/*October 2022*/
/*GEOM 102*/
/*w3schools was used as a starting point for all basic functionality of the website. Additional*/
/*sourcing and credit is provided for more compplicated functionality such as navbars, link styling etc.*/


/***********************Background**********************/
/*Used to style all pages same colour*/
body{
	background-color: #262421;
}
/***********************Fonts**********************/
/*Use for primary header, both pages*/ 
/*Excessive decleartion inclusions for all titles to ensure combined meets assignment requirements*/ 
h1 {
	font-size: 48px; 
	color: white;
	text-align: center;
	text-decoration-line: underline;
	text-decoration-color: #F2A74F;
	font-family: Papyrus, Fantasy, Helvetica, sans-serif;   /*Additional options provided in case of browser compatibility issues*/
}
/*Use for primary sub-header header, both pages*/
h2 {
	font-size: 28px; /*ADD MORE CONDITONS, INCLUDING PRIMARY AND BACKUP FONTS*/
	color: white;
	text-shadow: 1px 1px 1px red;
	font-family: Helvetica, sans-serif;   /*Additional options provided in case of browser compatibility issues*/
}
/*Contrasting sub-header, used on both pages two seperate major sections of the page*/
h3 {
	font-family: "Lucida Handwriting", cursive, sans-serif; /*Two font families included as backup incase of browser compatibility*/
	font-size: 22px;	
	color: #F2A74F; /*ADD MORE CONDITONS*/
	text-transform: uppercase;
}
/*All font should be white by default because of dark back ground*/
* p {
	color: white;
	font-family: Helvetica, sans-serif; /*Secondary font provided in case of browser compatibility issues*/
}
/*To add some funk to the landing page and visually seperate text sections*/
/*modified from w3schools border page, and changed from a class to an ID as it is only use, added padding to de-clutter*/
#pgroove {
	border-style: groove; 
	padding: 5px;
}
/***********************Lists Styling**********************/
/* https://www.w3schools.com/css/tryit.asp?filename=trycss_list-style_colors */
/* https://www.w3schools.com/css/css_list.asp*/
/*Organized list, original inspiration from w3schools CSS - Lists*/
/*Organized list was also used to differentiate from external link lists without the use of a class, as 
experiencing extensive issues with applying list classes during development. Originally overcome, but kept styling here*/
ol li {
	list-style-type: upper-roman;  /*Changes the list bullet types, numbers didn't seem appopriate, but couldn't used UL bullets*/
	font-family: monospace; /*Gives the feeling of a classic, operational report*/
	border: 1px solid; /*additional styling choice*/
	color: white;
	padding: 5px;
	margin-left: 25px; /*margins added to the left and right to give natural visual sections to 
	the page rather then extending boxes wall-to-wall */
	margin-right: 50px;
}
/***********************NavBar**********************/
/* https://www.w3schools.com/howto/howto_js_tabs.asp */
/*Functionality inspired by w3schools, formatting changes applied*/
/*Adding style the top navigation*/
/*NAVBAR for both pages*/
/*Functionality inspired by w3schools, formatting changes applied*/
/*Menus/Navigation bars Option Begin*/
/*<!--Menus/Navigation bars Option Begin -->*/
.navbar {
	border-radius: 15px;  /*Rounding affect added to navbar, matching to other page elements*/
	background-color: #4B028C; /*Purple background colour added to match general page style*/
	overflow: hidden;  /*Prevents other elements (i.e. the header) from overlapping*/
	border: 1px solid black; /*additional styling element*/
}
/*styling the links within the nav bar*/
.navbar a{
	float: left; /*formatting spacing*/
	color: #F2A74F; /*font color to match page accents*/
	text-align: center; /*formating, center align text*/
	padding: 16px; /*applying padding according to page styling*/
	text-decoration: none;  /*removing underline*/
	font-weight: bold; /*styling, add visiual weight*/
	font-size: 17px;  /*styling, to match formatting of the page*/
}
/* Change the color of links on hover */
.navbar a:hover {
  background-color: #7FA650; /*hover colour matches accent colour formatting of page*/
  color: black; 
  font-family: monospace; /*changes font style hovering */
 }
 /* Add a color to the active/current link */
.navbar a.active {
	color: white; /*to distinguish active page. White used as accent colours already active in rest of the links */
}
/* Menus/Navigation bars End*/
/*<!--Menus/Navigation bars Option End -->*/
/***********************EXTERNAL LINK STYLING**********************/
/* Link Option Begin*/
/* https://www.w3schools.com/css/tryit.asp?filename=trycss_navbar_vertical_active*/ 
/* https://www.w3schools.com/css/tryit.asp?filename=trycss_link2 */
/* Styling of external links is split between unorganized lists and seperate external link selector class.*/
/* Styling unorganized list elements*/
ul {
	list-style-type: none;  /*remove bulletpoints*/
	margin: 5px; /*basic formatting*/
	padding: 5px; /*basic formatting*/
}
/* list link elements within the parent unorganized list element above*/
li a {
	display: block; /*prevents listed links from overlapping each other*/
	border-radius: 25px; /*formatting to match page style*/
	padding: 15px; /*define weight and size of the list elements*/
	border: 1px solid black; /*basic formatting*/
	width: 350px; /*define a uniform size for list elements*/
	background-color: #7FA650; /*match accent colour of page style theme*/
	color: white; /*basic styling*/
	font-family: Helvetica; /*basic styling*/
	text-decoration: none; /*remove underline*/
	font-weight: bold; /*add weight to text*/
}
/* Begin external link specific class*/
a.ext:link {color: white;} /* Basic structure for non-hovered links as style provided in list element */
a.ext:visited {color: white;} /* Basic structure for non-hovered links as style provided in list element */
a.ext:hover { /*Hover element highly modified to hover links to distinguish from formatting provided from lists */
	font-family: monospace; /*matches accent text style on page*/
	color: #F2A74F;	 /*page accent colour*/
	background-color: #4B028C; /*page accent colour*/
}
/* Link Option End*/
/***********************Div Classes**********************/
/*Main container style class applied to Index*/
div.IndexA  {
	padding: 5px; /*General spacing formatting*/
	margin: 5px; /*General spacing formatting*/
	margin-left: 10px;
}
/*Secondary container style class applied to about me section of index page to limit extent of this section on the right */
div.IndexB  {
	padding: 5px;
	margin-left: 5px;
	margin-right: 35px;
}
/*Main container style class applied to Index. Ended up reflecting Index cointainer, but left available for future formatting*/
div.TripDivA {
	padding: 5px;
	margin: 5px;
	margin-left: 10px;
}
/*Semantic seperation for organization */
div.ExternalLinks {
	margin: 5px;
	padding: 5px;
}
/***********************IMAGE Formatting********************/
/* Image Option Begin*/
/*image class for profile pics. Itend to use in CV section once developed, why it's not an ID selector.*/
img.Profile {
	max-width: 230px; /*Image native resolution*/
	max-height: 288px; /*Image native resolution*/
	border-radius: 25px; /*Match border rounding throughout site*/
	border: 3px solid black; /*basic formatting*/
	margin-left: 25px; /*provide spacing around photo sides without interrupting header*/
	margin-right: 25px; /*provide spacing around photo sides without interrupting header*/
}
/*image class that represent smaller versions of images in image gallery .*/
img.thumbnails {
	border-radius: 5px;
	border: 1px solid black;
	margin-left: auto;
	margin-right: auto;
}
/***********************IMAGE GALLERY********************/
/* https://www.w3schools.com/css/css_image_gallery.asp */
/* https://www.w3schools.com/css/css3_gradients.asp */
/*Functionality started with W3Schools. Experienced issues and simplified taken only basic elements*/
div.GallerySection { /*define container with a div class*/
	max-width: 1800px; /*Visually more appealing then extending all the way to the right, expecionally on wider screens*/
	border: 2px ridge #F2A74F; /*Accent border hilighting*/
	background-image: linear-gradient(to right, rgba(75,2,140,0), rgba(75,2,140,1)); /*div formatting with transparecny gradient*/
	padding: 10px;
}
/* Image Option End*/
/***********************Layout**********************/
/*https://www.w3schools.com/html/tryit.asp?filename=tryhtml_layout_float*/
/*https://www.w3schools.com/html/tryit.asp?filename=tryhtml_layout_flexbox*/
/* https://www.w3schools.com/css/css3_gradients.asp */
/*Functionality heavily leverage w3schools.*/
/* Allows for header to sit on the top, and 
two sections to sit side-by-side underneath, and then a final section below (not a footer). 
This allowed for a centered header, and for profile pic to float on the right of the page without overlapping or 
severe issues with scaling down. If screen scales down, the sections cascade*/
* {
  box-sizing: border-box; /**w3schools, see layout section at bottom*/
}
/* Style the header */
header.A {
  background-color: #777; /*For browsers that do not support gradients */
  background-image: linear-gradient(to bottom right, #C0C0C0, #808080); /*w3schools - css gradients */
  padding: 15px; /*space formatting */ 
  border-radius: 5px; /*border shaping of header*/ 
  border: 1px solid black; /*basic formatting*/ 
  text-align: center; /*center-align the header text*/ 
  margin: 20px; /*space formatting */
}
/* Container for flexboxes */
section {
  display: -webkit-flex;  /*not changed from source */
  display: flex; /*not changed from source */
}
/* Style the content */
article.Left { /*changed from nav bar to another article, seperated into class as .Left */
  -webkit-flex: 5; /*changed these numbers in attempt to manage spacing with various degrees of success */
  -ms-flex: 5; /*changed these numbers in attempt to manage spacing with various degrees of success */
  flex: 5; /*changed these numbers in attempt to manage spacing with various degrees of success */
  }
/* Style the content */
article.Right { /*Seperated into class as .Right as 2nd article was created instead of keeping a navbar */
  -webkit-flex: 1; /*changed these numbers in attempt to manage spacing with various degrees of success */
  -ms-flex: 1; /*changed these numbers in attempt to manage spacing with various degrees of success */
  flex: 1; /*changed these numbers in attempt to manage spacing with various degrees of success */
}
/* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
@media (max-width: 500px) { /*Set maximum width before collapses sections*/
  section { /*not changed from source */
    -webkit-flex-direction: column; /*not changed from source */
    flex-direction: column; /*not changed from source */
}
}